- if show_super_sidebar?
  - @left_sidebar = true
.layout-page.hide-when-top-nav-responsive-open{ class: page_with_sidebar_class }
  - if show_super_sidebar?
    -# Render the parent group sidebar while creating a new subgroup/project, see GroupsController#new.
    - group = @parent_group || @group

    - sidebar_panel = super_sidebar_nav_panel(nav: nav, user: current_user, group: group, project: @project, current_ref: current_ref, ref_type: @ref_type, viewed_user: @user)
    - sidebar_data = super_sidebar_context(current_user, group: group, project: @project, panel: sidebar_panel, panel_type: nav).to_json
    %aside.js-super-sidebar.super-sidebar.super-sidebar-loading{ data: { root_path: root_path, sidebar: sidebar_data, toggle_new_nav_endpoint: profile_preferences_url } }

    - if display_whats_new?
      #whats-new-app{ data: { version_digest: whats_new_version_digest } }

  - elsif defined?(nav) && nav
    = render "layouts/nav/sidebar/#{nav}"
  .content-wrapper{ class: "#{@content_wrapper_class}" }
    .mobile-overlay
    = dispensable_render_if_exists 'layouts/header/verification_reminder'
    .alert-wrapper.gl-force-block-formatting-context
      = dispensable_render 'shared/outdated_browser'
      = dispensable_render_if_exists "layouts/header/licensed_user_count_threshold"
      = dispensable_render_if_exists "layouts/header/token_expiry_notification"
      = dispensable_render "shared/projects/inactive_project_deletion_alert"
      = dispensable_render "layouts/broadcast"
      = dispensable_render "layouts/header/read_only_banner"
      = dispensable_render "layouts/header/registration_enabled_callout"
      = dispensable_render "layouts/nav/classification_level_banner"
      = yield :flash_message
      = dispensable_render "shared/gitlab_version/security_patch_upgrade_alert"
      = dispensable_render "shared/service_ping_consent"
      = dispensable_render_if_exists "layouts/header/ee_subscribable_banner"
      = dispensable_render_if_exists "layouts/header/seat_count_alert"
      = dispensable_render_if_exists "shared/namespace_user_cap_reached_alert"
      = dispensable_render_if_exists "shared/new_user_signups_cap_reached_alert"
      = yield :page_level_alert
      = yield :group_invite_members_banner
      - unless @hide_top_bar
        = render "layouts/nav/top_bar"
    %div{ class: "#{container_class unless @no_container} #{@content_class}" }
      %main.content{ id: "content-body", **page_itemtype }
        = render "layouts/flash", extra_flash_class: 'limit-container-width'
        = yield :after_flash_content
        = yield :before_content
        = yield
    = yield :after_content
    -# This is needed by [GitLab JH](https://gitlab.com/gitlab-jh/jh-team/gitlab-cn/-/issues/81)
    = render_if_exists "shared/footer/global_footer"

= render "layouts/nav/top_nav_responsive", class: 'layout-page' unless show_super_sidebar?
